<h3>{{Titulo}} <small>{{TituloAccionABMC[AccionABMC]}}</small></h3>

<div class="row justify-content-center m-3" *ngIf="AccionABMC == 'L'">
  <button type="button" class="btn btn-primary" (click)="Agregar()">
      <span class="fas fa-plus"> </span> 
      Alta de Equipo
  </button>
</div>

<div id="divTablaResultados" *ngIf="AccionABMC == 'L'">
  <div>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th class="text-center">Id</th>
          <th class="text-center">Nombre</th>
          <th class="text-center">Ranking</th>
        </tr>
      </thead>
    
      <tbody>
        <tr *ngFor="let eq of Lista">
          <td class="text-center">{{eq.IdEquipo}}</td>
          <td class="text-center">{{eq.EquipoNombre}}</td>
          <td class="text-center">{{eq.EquipoRanking}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Registro de equipo -->
<form name="FormReg" [formGroup]='FormReg' *ngIf="AccionABMC != 'L'" class="bg-light">
	<fieldset [disabled]="AccionABMC==='C'">
    
    <!--EquipoNombre-->
    <div class="form-group row">
      <label class="col-form-label col-sm-2 col-sm-offset-2" for="EquipoNombre">
        EquipoNombre 
        <span class="text-danger">*</span>
      </label>
      <div class="col-sm-6">
        <input type="text" class="form-control" formControlName="EquipoNombre" [ngClass]="{'is-invalid': (FormReg.controls.EquipoNombre.touched || submitted)  
            && FormReg.controls.EquipoNombre.errors}" />
        <span class="text-danger" *ngIf="(FormReg.controls.EquipoNombre.touched || submitted) 
          && FormReg.controls.EquipoNombre.errors?.required">
            Dato requerido.
        </span>
        <span class="text-danger" *ngIf="(FormReg.controls.EquipoNombre.touched || submitted) 
          && (FormReg.controls.EquipoNombre.errors?.minlength || FormReg.controls.EquipoNombre.errors?.maxlength)">
            Dato texto, 3 a 50 caracteres.
        </span>
      </div>
    </div>

    <!--EquipoRanking-->
    <div class="form-group row">
      <label class="col-form-label col-sm-2 col-sm-offset-2" for="EquipoRanking">
        EquipoRanking <span class="text-danger">*</span>
      </label>
      <div class="col-sm-6">
        <input type="text" name="EquipoRanking" class="form-control" formControlName="EquipoRanking" [ngClass]="{'is-invalid': (FormReg.controls.EquipoRanking.touched || submitted)  
          && FormReg.controls.EquipoRanking.errors}" />
				<span class="text-danger" *ngIf="(FormReg.controls.EquipoRanking.touched || submitted) 
          && FormReg.controls.EquipoRanking.errors?.required">
            Dato requerido.
        </span>
				<span class="text-danger" *ngIf="(FormReg.controls.EquipoRanking.touched || submitted) 
          && FormReg.controls.EquipoRanking.errors?.pattern">
            Dato numérico, 1 a 3 dígitos.
        </span>
      </div>
    </div>
  </fieldset>

    <!-- Botones Grabar, Cancelar/Volver' -->
    <div class="row justify-content-center">
        <button type="button" class="btn btn-primary" *ngIf="AccionABMC!=='C'" (click)="Grabar()">
            <span class="fas fa-check"></span> Grabar
        </button>
        &nbsp;
        <button type="button" class="btn btn-warning" (click)="Volver()">
            <span class="fas fa-undo"></span> {{AccionABMC=='C' ? 'Volver' : 'Cancelar'}}
        </button>
    </div>

    <!--texto: Revisar los datos ingresados...-->
    <div id="divMsjFormRegistro" class="row alert alert-danger" *ngIf="submitted && FormReg.invalid">
        <span class="fas fa-exclamation-sign"></span>{{Mensajes['RD']}}
    </div>
</form>